<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>696615052105-16e6ap79fnb41rh2g1vqmaoil7h9pvd7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696615052105-16e6ap79fnb41rh2g1vqmaoil7h9pvd7</string>
	<key>API_KEY</key>
	<string>AIzaSyAfV3N5sQtp3wUS9kYq0YD54ZyL-_L81IE</string>
	<key>GCM_SENDER_ID</key>
	<string>696615052105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hypertrack.UserSampleApp</string>
	<key>PROJECT_ID</key>
	<string>testridesharing</string>
	<key>STORAGE_BUCKET</key>
	<string>testridesharing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696615052105:ios:f78ebacdb7a7687f</string>
	<key>DATABASE_URL</key>
	<string>https://testridesharing.firebaseio.com</string>
</dict>
</plist>